RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:TuMejaveNu
deny from 103.143.98.96
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE TuMejaveNu:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:JyhyGybeva
deny from 104.23.99.190
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE JyhyGybeva:IPDENYID



# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:dyMaSeBeWe
deny from 103.143.98.105
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE dyMaSeBeWe:IPDENYID



# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:70l3Pzt8Ta
deny from 103.143.98.157
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 70l3Pzt8Ta:IPDENYID



# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:kvgFoGzDf6
deny from 103.143.98.228
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE kvgFoGzDf6:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:2ldIq4gN2G
deny from 180.244.136.115
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 2ldIq4gN2G:IPDENYID

